@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: v.$white;
    a{
        color: v.$white;
    }
   
}
body{
    font-family: spacemono;
    h1,h2,h3,h4{
        font-family: mulish;
        font-weight: bold;
    }
    h1{
        font-size: 3.125em;
    }
    h2{
        font-size: 1.938em;
    }
    h3{
        font-size: 1.25em;
    }
    // bouton retour vers le haut de page-------------------
    .btn_scroll{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 30px;
        bottom: 100px;
        cursor: pointer;
        .fa-circle-chevron-up{
            color: v.$third_color;
            font-size: 2em;
            // width: 50px;
        }
    }
    
}