@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

@font-face {
      font-family:mulish;
      src: url(../font/Mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
      font-family:spacemono;
      src: url(../font/Space_Mono/SpaceMono-Regular.ttf);
}
