@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

// -------barre de navigation-------------------
nav{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4rem;
      position: relative;
      background-color: v.$snd_color;

}
.container_barnav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      img{
            width: 2rem;
            margin-left: 1rem;
      }
      // menu-buger-----------------
      .fa-bars{
            display: none;
            font-size: 2rem;
      }
}
.container_menu{
      display: flex;
      justify-content: flex-end;
      li{
            margin-right: 1.5rem;
            font-family: mulish;
      }
}
// ------------Section Accueil----------------
//  Titre et fond arrière-----------------
#accueil{
      background-image: url(../image/image\ terre\ bleu\ clair\ attenuée.png);
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
 

      h1{
            display: flex;
            flex-direction: column;
            transform: translateX(-6rem);
            padding: 6rem 0;
            text-shadow: 1px 2px 4px black;
            span{
                  transform: translateX(20rem);
            }
      }
} 
// titre portfolio------------------------
.project{
      width: 30%;
      transform: translateX(-70%);
      margin-bottom: 5rem;
      .project_content{
            background-color:v.$first_color;
            width: 100%;
            height:100%;
            padding: 6rem;
            cursor: pointer;
            position: relative;
            z-index:1;

            h2{
                  text-shadow: 1px 2px 5px black;
            }
      }
}
.project_content:hover{
      background-color: v.$third_color;
}
.project_content:hover::before, .project_content:hover::after{
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height:100%;
      top: 10px;
      left:3px;
      padding: 1rem 2rem;
      background-color:v.$first_color;
      animation: 1s joggle infinite;
      border-radius: 20px;
      box-shadow: 0 0 5px v.$snd_color;
}
//  effet pour le titre portfolio---------------
@keyframes joggle {
      0%{
            transform: translate(-5px,-5px);
      }
      14%{
            transform: translate(0px,-5px);
      }
      28%{
            transform: translate(5px,-5px);
      }
      42%{
            transform: translate(5px,0px);
      }
      57%{
            transform: translate(5px,5px);
      }
      71%{
            transform: translate(0px,5px);
      }
      85%{
            transform: translate(-5px,5px);
      }
}
//  Qui suis je -------------------------------
.cardaccueil{
      max-width: 600px;
      border-radius: 10%;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      // span, em {
      //       color: v.$third_color;
      //       font-weight:bolder;
      //       font-size: 1.2em;
      //       text-shadow: 1px 1px 3px black;
      // }
      margin: auto;
      transform: translateX(50%);
      padding-bottom: 6rem;
      p{
            background-color: v.$first_color;
            border-radius: 20px; 
            padding: 30px;
            width: 100%;
            box-shadow: 5px 5px 15px black;
      }
      img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            float: left;
            shape-outside: margin-box;
            margin: 30px 20px 5px 20px;
            box-shadow: 3px 3px 7px v.$third_color;
      }
}
// .cardaccueil::after{
//       content: "";
//       display: block;
//       clear: block;
// }
// --------------FOOTER--------------------
footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      background-color: v.$snd-color;
      // mes coordonnées------------
      .contact {
            margin-left: 1rem;
            span{
                  font-size: 12px;
                  display: block;
            }
      }
      h3{
            margin-bottom: 0.5rem;
            text-decoration: underline;
      }
}
//  logo----------------------------
img{
      width: 2rem;
}
//  liens sociaux + copyright--------------------------
.fa-copyright{
      font-size: 10px;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
}
.network a{
      margin-right: 1rem;
}

