@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

body{
      background-color: v.$snd_color;
}

// --------------Section PARCOURS ---------------------
// fond arrière PARCOURS-----------------
#parcours{
      background-image: url(../image/pawel-czerwinski-g0eRErPBoTA-unsplash.jpg);
      background-position: center;
      background-size:cover;
      padding-top: 6rem;

    
}
.parcours{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      
      // padding: 3rem;
}
// Carte mon PARCOURS---------------
.cardparcours{
      max-width: 600px;
      border-radius: 10%;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      padding-bottom: 6rem;
      p{
            background-color: v.$first_color;
            border-radius: 20px; 
            padding: 30px;
            width: 100%;
            box-shadow: 5px 5px 15px black;
      }
      img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            float: left;
            shape-outside: margin-box;
            margin: 30px 20px 5px 20px;
            box-shadow: 3px 3px 7px v.$third_color;
      }
}
.cardparcours::after{
      content: "";
      display: block;
      clear: block;
}
//  animation du titre parcours-------------------
.titlecontent{
      position: relative;
      span {
            font-size: 3em;
            font-weight: bolder;
            font-family: mulish;
            letter-spacing: 4px;
            will-change: transform;
            display: inline-block;
            
      }
}
.s1 span{
      transform-origin: bottom;
}
.s2 span{
      transform-origin: top;
      transform: translateY(100%) rotateX(-90deg);
}
.s2{
      position: absolute;
      top: 0;
      left: 0;
}
.titlecontent:hover .s1 span{
      transform: translateY(-100%) rotateX(-90deg);
}
.titlecontent:hover .s2 span{
      transform: translateY(0%) rotateX(0deg);
}

//  Détails du parcours----------------
.parcours_content{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      transform: translateX(80%);
      background-color: v.$first_color;
      padding:2rem;
      border-radius: 10%;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      p:not(:last-child){
            border-right: 1px solid white;    
      }
      p{
            padding-left: 20px;
      }
}




